services:
  openclaw-gateway:
    build:
      context: .
      dockerfile: Dockerfile.gateway
    image: openclaw
    container_name: openclaw-gateway
    command: ["gateway","run","--bind","lan","--port","18789"]
    ports:
      - "127.0.0.1:18789:18789"
    environment:
      UID: $GID
      GID: $GID
      USER: $USER
    volumes:
      - ./config/openclaw:/home/app/.openclaw
      - ./config/openclaw:/home/$USER/.openclaw
    restart: unless-stopped
