services:
  openclaw-gateway:
    build:
      context: .
      dockerfile: Dockerfile.gateway
    image: gateway
    container_name: openclaw-gateway
    ports:
      - "127.0.0.1:18789:18789"
    environment:
      UID: $GID
      GID: $GID
      USER: $USER
      CHROME_USER_DATA_DIR: /data/personas/Default/chrome_profile
      DISPLAY: novnc:0.0
    volumes:
      - ./config/$USER:/home/app/
      - ./config/$USER:/home/$USER/
      - ./config/openclaw:/home/app/.openclaw
      - ./config/openclaw:/home/$USER/.openclaw
      - ./data/personas:/data/personas
      - ./workspace:/workspace
#      - ./config/claude:/home/app/.claude
#      - ./config/claude:/home/$USER/.claude
    restart: unless-stopped
  novnc:
    image: theasp/novnc:latest
    environment:
      - DISPLAY_WIDTH=1920
      - DISPLAY_HEIGHT=1080
      - RUN_XTERM=false
      - RUN_FLUXBOX=true
    ports:
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:5900:5900"
